.header {
  width: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.left {
  margin-left: 0;
  margin-right: auto;
}

.top {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.title {
  position: relative;
}

.description {
  margin: 0 auto;
}

.left .description {
  margin: 0;
}
